/* ------------------------------------------------------- */
/* CSS FOR NAVIGATION BAR ONLY */

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Amethysta", serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
}

nav a {
  margin: 20px 25px 20px 25px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

nav a:hover {
  color: black;
}

nav #inputDiv {
  height: 28px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
  justify-content: space-between;
}

nav input {
  width: 130px;
  background: none;
  box-shadow: none;
  border: none;
  padding-left: 10px;
}

nav input::placeholder {
  text-decoration: underline;
  font-size: 13px;
}

nav i {
  width: 20px;
  cursor: pointer;
}

nav img {
  object-fit: cover;
}

/* for the dropdown list */
nav .dropdown {
  position: relative;
  display: inline-block;
}

nav .dropdownMeals {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 3;
}

nav .dropdownMeals a {
  display: block;
  line-height: 10px;
  padding-bottom: 5px;
  width: 100%;
}

/* action when hovered over meal type */
.dropdown:hover .dropdownMeals {
  display: block;
}

.dropdown:hover {
  /* background-color: rgba(0, 0, 0, 0.1); */
  background-image: url(https://images.creativemarket.com/0.1.0/ps/10208026/3024/2000/m1/fpnw/wm0/cute-food-image-cm-.jpg?1618498803&s=3a3235895685e473cfa1ca260c33929f);
  background-size: cover;
}

.dropdownMeals a:hover {
  font-size: 17px;
}

/* ----------------------------------------- */
/* for main page display of top recipes */

.mealTypeContainer {
  background-color: white;
}

.titleSeeMore {
  display: flex;
  font-family: "Amethysta", serif;
  justify-content: space-between;
  margin-top: 30px;
  align-items: flex-end;
}

.titleSeeMore p {
  font-size: 12px;
  cursor: pointer;
  font-weight: 600;
  color: rgba(43, 75, 64);
}

.titleSeeMore p:hover {
  text-decoration: underline;
}

.mealTypeContainer h2 {
  font-weight: 500;
  font-size: 25px;
  color: rgba(43, 75, 64);
}

.eachImage img {
  width: 100%;
  height: 250px;
}

.eachImage .cuisines {
  font-size: 12px;
  margin: 10px 0px 4px 0px;
  padding-left: 5px;
  color: rgba(180, 140, 89);
  font-weight: 600;
}

.eachImage .title {
  width: 100%;
  height: 50px;
  line-height: 20px;
  font-weight: 500;
  padding: 0px 5px 0px 5px;
}
.eachImage .title:hover {
  overflow: visible;
}

/* SELECTED MEAL */
.mealTypeStr {
  font-family: "Amethysta", serif;
  color: rgba(43, 75, 64);
  font-weight: 400;
  font-size: 50px;
}

.selectedMealContainer {
  margin-top: 30px;
}

/* --------------------------------------------- */
/* styling filter area */
#searchArea {
  margin-top: 50px;
}

#searchArea #advancedText {
  font-weight: 500;
  font-size: 25px;
  font-family: "Amethysta", serif;
}

#searchArea .filterContainer {
  font-family: "Roboto", sans-serif;
}

.filterContainer .searchBy {
  background-color: rgba(43, 75, 64);
  color: rgba(254, 244, 157);
  height: 28px;
  padding-top: 5px;
  font-size: 14px;
  text-align: center;
  font-weight: 300;
  border-radius: 6px;
  padding-right: 5px;
}

.filterContainer #inputAdd {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4px;
}

.filterContainer input {
  background-color: rgba(0, 0, 0, 0.1);
  width: 75%;
  margin-right: 6px;
  height: 33px;
  border: none;
}

.filterContainer input::placeholder {
  font-size: 14px;
  text-align: center;
  text-decoration: underline;
}

.filterContainer button {
  background-color: rgba(147, 166, 66);
  font-size: 14px;
  color: white;
  height: 31px;
  width: 25%;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.filterContainer .searchBullet {
  margin: 7px 0 7px 0;
  font-size: 16px;
  height: 30px;
  padding-top: 3px;
  text-align: center;
  background-color: rgba(254, 244, 157);
  border: rgba(0, 0, 0, 0.2) solid 1px;
  border-radius: 6px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.filterContainer .criteriaBullet {
  margin: 7px 0 7px 0;
  font-size: 16px;
  height: 30px;
  padding-top: 3px;
  text-align: center;
  background-color: white;
  border: rgba(0, 0, 0, 0.2) solid 1px;
  border-radius: 6px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#searchArea .buttonDiv {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

#searchArea .btn {
  padding-bottom: 10px;
  border: rgba(0, 0, 0, 0.2) solid 1px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

/* ------------------------------------
styling recipe */
.recipe {
  margin-top: 30px;
}

.recipe img {
  width: 100%;
}

.recipe .recipeUpper {
  /* border: 2px black solid; */
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.recipe #recipeTitle {
  font-weight: 500;
  font-size: 25px;
  text-align: left;
}

#timeServing {
  margin-right: 70px;
  margin-top: 30px;
}

.recipe #timeServing div {
  margin-bottom: 18px;
}

.recipe #timeServing i {
  margin-right: 6px;
  font-size: 18px;
}

.recipe #timeServing p {
  display: inline;
}

.recipe .favouritesDiv {
  justify-content: center;
}
.recipe .favouritesButton {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: rgba(147, 166, 66);
  font-size: 14px;
  color: white;
  height: 31px;
  width: 25%;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

/* ------------------------------
STYLING RADAR CHART */

.chartBg {
  width: 150px;
  height: 150px;
  top: 11.8%;
  left: 18%;
  position: relative;
  background-image: url("./components/circle_for_chart.jpg");
  background-size: 150px 150px;
}

.chartContainer {
  top: 0%;
  left: 0%;
  margin: auto;
  position: relative;
  width: 127px;
  height: 150px;
}

.starform {
  margin: auto;
  width: 127px;
  height: 150px;
  position: absolute;
}

.in {
  /* background-color: rgba(180, 140, 89, 0.7); */
  background-color: rgba(0, 0, 0, 0.8);
}

.chart {
  width: 240px;
  height: 200px;
}
.chartTastes {
  display: inline;
  position: absolute;
  font-size: 12px;
}

#tasteSweet {
  position: relative;
  left: 102px;
}
#tasteSalty {
  position: relative;
  top: 16px;
  left: 193px;
}
#tasteSour {
  position: relative;
  top: 58px;
  left: 193px;
}
#tasteBitter {
  position: relative;
  top: 72px;
  left: 104px;
}
#tasteSavoury {
  position: relative;
  top: -9px;
  left: 0px;
}
#tasteFatty {
  position: relative;
  top: -120px;
  left: 13px;
}

/* -------------------------------
STYLE TIMESERVING AND CHART */
.timeChart {
  display: flex;
}

/* -----------------------------
STYLE INGREDIENT LIST IN RECIPE */
.ingredientContainer {
  margin-top: 40px;
}

.ingredientContainer .fa-shopping-cart {
  color: black;
}

.ingredientQuantity {
  text-align: center;
}

.ingredientUnit {
  text-align: left;
}

.ingredientContainer .fa-cart-plus {
  color: rgb(83, 166, 66);
  cursor: pointer;
  font-size: 20px;
}

.ingredientContainer .fa-cart-plus:hover {
  font-size: 22px;
}

/* -----------------------------
STYLE STEPS IN RECIPE */

.stepsContainer {
  background-color: rgba(256, 256, 256, 0.9);
  margin: auto;
  margin-top: 50px;
  width: 90%;
}

.stepsRow {
  background-image: url("https://media.istockphoto.com/vectors/kitchen-seamless-pattern-vector-background-vector-id475511846?k=20&m=475511846&s=612x612&w=0&h=h9lLBXEbEiTFVn7ZXyFtIJBFZXrpiXM8MBALubJndNM=");
}

.stepsContainer h2 {
  font-weight: 500;
  font-size: 25px;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 25px;
  border-bottom: black solid 2px;
  margin-bottom: 40px;
}
.stepsContainer ol {
  font-size: 20px;
  font-weight: 500;
  line-height: 2em;
}

.stepsContainer li {
  font-weight: 400;
  font-size: 16px;
  list-style-type: none;
  counter-increment: item;
}

.stepsContainer li:before {
  content: counter(item);
  margin-right: 5px;
  font-size: 80%;
  background-color: rgba(254, 244, 157);
  color: rgba(43, 75, 64);
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
}

/* ------------------------------
STYLE SEARCH RESULT PAGE */
.searchResultsContainer span {
  font-weight: 800;
  font-size: 50px;
  font-family: "Amethysta", serif;
  color: rgba(43, 75, 64);
}

.searchResultsContainer h2 {
  font-weight: 400;
  font-size: 50px;
}

.searchResultsContainer {
  margin-top: 30px;
}

/* ------------------------------------
STYLE CARD OVERLAY */
.imageContainer {
  position: relative;
}

.imageContainer img {
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.imageContainer .overlay {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);
  /* -ms-transform: translate(-50%, -50%); */
  text-align: center;
  transition: 0.5s ease;
}

.imageContainer a {
  text-decoration: none;
}

.imageContainer:hover img {
  opacity: 0.3;
}
.imageContainer:hover .overlay {
  opacity: 1;
  width: 160px;
}
.text {
  background-color: rgba(43, 75, 64);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
  height: 40px;
  padding-top: 10px;
  border-radius: 10px;
  cursor: pointer;
}
